@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&subset=cyrillic');

body {
    font-family: 'Roboto', sans-serif;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.wrap {
    max-width: 90%;
    min-width: 500px;
    margin: 0 auto;
}
header {
    background-color: black;
}
.screen {
    height:100vh;
    background-image: url(./images/bg-1.jpg);
    background-size: cover;
}
.localization {
    margin: 0;
    padding: 0;
    display: flex;
    height: 40px;
    align-items: center;
}
.localization__item {
    height: 16px;
    margin-right: 10px;
}
.localization__item a {
    color: white;
    text-decoration: none;
}
.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 860px;
    margin: 0 auto;
    padding: 50px 5%;
}
.navigation__logo {
    width: 40%;
    background-color: white;
    text-align: center;
    margin-top: 2px;
}
.navigation__logo h2 {
    font-size: 16px;
    font-weight: normal;
    margin: 20px 0 0;
}
.navigation__logo h1 {
    font-size: 22px;
    margin-top: 5px;
    text-transform: uppercase;
}
.navigation__links {
    width: 50%;
    margin-left: 2px;
    display: flex;
    flex-wrap: wrap;
}
.navigation__link {
    height: 40px;
    margin: 2px 2px 0 0;
    line-height: 40px;
    text-align: center;
    padding: 0 5px;
    background-color: white;
}
.navigation__link_search {
    padding: 0;
    border-radius: 10px;
    order: 1;
}
.navigation__link_search img {
    width: 40px;
    height: 40px;
}
.navigation_mobile {
    display: none;
}
.overlay {
    display: none;
}
.promo-events {
    padding: calc((100vh - 678px)/2) 0;
}
.breadcrumbs {
    margin: 20px 0 40px 0;
    color: white;
    font-weight: normal;
}
.layout_main {
    width: 58%;
    float: left;
}
.layout_aside {
    float: right;
    width: 40%;
}
.card {
    background-color: white;
}
.card_large {
    height: 330px;
}
.card_middle {
    min-height: 400px;
    width: 33.3%;
    padding: 5px;
    box-sizing: border-box;
    overflow: hidden;
    margin-bottom: 25px;
}
.card_small {
    height: 155px;
}
.layout_aside .card_small:first-child,
.layout_aside .card_small:first-child {
    margin-bottom: 20px;
}
.card__tag-list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: -2px;
    left: -2px;
    align-items: start;
}

.card__tag {
    background-color: #4233FF;
    color: white;
    padding: 5px;
    margin: 0 2px 2px 0;
}
.card__content {
    padding: 0 20px;
}
.card__content h1 {
    color: #4233FF;
    text-transform: uppercase;
}
.card__content h1+p {
    font-size: 18px;
    font-weight: normal;
}
.card__content > p {
    font-weight: bold;
}
.section-header {
    font-size: 24px;
    text-decoration: underline;
    text-transform: uppercase;
    text-align: center;
    margin: 40px 0;
}
.section-header_white {
    color: white;
}
.news__content, .authors__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card_middle .card__wrap {
    height: 60%;
    background-image: url(./images/open-i-3.jpg);
    background-size: cover;
}

.card_middle:nth-of-type(odd) .card__wrap {
    background-image: url(./images/open-i-2.jpg);
}
.button {
    display: block;
    max-width: 70%;
    margin: 20px auto;
    padding: 10px 10px;
    border: 2px gray solid;
    text-align: center;
    color: gray;
    text-decoration: none;
    border-radius: 5px;
}
.new-number {
    height: 660px;
    background-color: #24292E;
    padding: 5px 0;
}
.new-number .card__content h1,
.new-number .card__content p {
    color: white;
}
.new-number .card_large {
    height: 460px;
    box-sizing: border-box;
    padding: 240px 0 0 0;
    color: white;
    background-image: url(./images/promo-1.jpg);
    background-size: cover;
}
.new-number .card_small {
    height: 220px;
    padding: 120px 0 0 0;
    box-sizing: border-box;
    background-image: url(./images/promo-2.jpg);
    background-size: cover;
}
.card__image {
    text-align: center;
}
.round {
    border-radius: 50%;
}
.authors__content .card__content {
    text-align: center;
}
.authors__content  .card_middle {
    margin-bottom: 100px;
}
.authors__content h5 {
    font-size: 16px;
    margin-bottom: 0;
}
.authors__content h6 {
    font-size: 12px;
    margin-top: 10px;
}
a {
    text-decoration: none;
    font-size: 1em;
    position: relative;
    transition: all 0.6s;
    color: black;
}
.subscription {
    background-color: #24292E;
    padding: 10px 10px 60px;
}
.subscription > h1, .subscription > p {
    text-align: center;
    color: white;
}
.subscription h1 {
    font-size: 24px;
    border-top: 25px;
}
.subscription p {
    margin: 20px 0 40px;
    font-size: 14px;
}
.subscription-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
.subscription-card_first {
    height: 460px;
    position: relative;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    z-index: 1;
}
.subscription-card_second {
    height: 420px;
}
.subscription-card {
    width: 390px;
    background-color: white;
    padding: 60px 40px 40px;
}
.subscription-card p {
    margin-bottom: 20px;
    font-size: 12px;
}
.subscription-card .subscription-card__price {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}
 .subscription-card__price span {
    color: #C4C4C4;
    font-weight: normal;
}
.subscription-card input {
    width: 100%;
    margin: 30px 0;
    text-align: center;
    color: #949494;
    font-size: 12px;
    border: none;
    padding: 4px;
    border-bottom: 3px solid #24292E;
}
.subscription-card input:focus {
    border-bottom: 3px solid #4233FF;
}
.subscription-card button {
    background-color: #4233FF;
    border-radius: 6px;
    width: 100%;
    height: 56px;
    text-align: center;
    color: white;
    font-size: 12px;
}
.subscription-card .button_disabled {
    background-color: #949494;
}
.subscription-card__comments {
    text-align: center;
}
.subscription-card__offer {
    color: #949494;
    font-size: 10px;
}
.subscription-card__offer a {
    color: #949494;
    text-decoration: underline;
}
.archive h1 {
    margin: 60px 0 15px;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}

.archive__board {
    padding: 10px 15px;
    background-color: #E5E5E5;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    overflow: scroll;
}
.archive__item {
    width: 180px;
    height: 300px;
    border-radius: 5px;
    margin: 0 5px;
}

footer {
    background-color: #24292E;
    padding-top: 30px;
    font-size: 14px;
}

footer .wrap {
    display: flex;
}

.partners {
    margin: 0 80px 40px 0;
    display: flex;
    flex-direction: column;
    width: 205px;
}
.partners__link {
    margin-bottom: 10px;
}

.site-info__description {
    display: flex;
    align-items: flex-end;
    color: #949494;
    overflow: scroll;
}

.site-info__description h1 {
    font-size: 24px;
    color: #949494;
    text-align: left;
    margin-right: 20px;
    flex: 1 0 385px;
}

.site-info__description span {
    letter-spacing: 1px;
}
hr {
    border: 1px solid #545455;
}
.site-info__description p {
    font-size: 14px;
    text-align: right;
    flex: 1 0 360px;
}
.additional-info {
    display: flex;
    margin-top: 20px;
}

.additional-info__utility {
    flex: 1 1 400px;
    display: flex;
    flex-direction: column;
}

.additional-info__utility a,
.additional-info__utility span,
.additional-info__new-number span {
    color: #949494;
    margin-bottom: 20px;
}

.additional-info__utility p,
.additional-info__new-number a {
    margin-top: 0;
    color: white;
}

.additional-info__new-number {
    flex: 1 1 360px;
    display: flex;
    flex-direction: column;
}

.site__policy p {
    color: #7F8081;
    font-size: 12px;
}

.site__policy_tablet {
    display: none;
    color: #7F8081;
    font-size: 12px;
}

@media (max-width : 1170px) {
    .screen {
        height: auto;
        padding-bottom: 20px;
    }
    .site-info__description {
        flex-direction: column;
        align-items: flex-start;
    }
    .promo-events {
        padding: 0;
    }
    .site-info__description h1 {
        flex: 0 0 auto;
    }
    .site-info__description span {
        display: block;
    }
    .site-info__description p {
        flex: 0 0 auto;
        text-align: left;
    }
}

@media (max-width : 847px) {
    .navigation {
        flex-direction: column;
        align-items: flex-start;
    }
    .navigation__logo {
        width: 100%;
        padding: 0 5px;
    }
    .navigation__logo a {
        display: flex;
        flex-direction: column;
    }
    .navigation__links {
        width: auto;
    }
    .navigation__link_search {
        order: 1;
    }
    .promo-events .card_small {
        overflow: hidden;
    }
    .promo-events .card_large {
        overflow: hidden;
    }
    .new-number .card {
        overflow: hidden;
    }
    .news__content .card,
    .authors__content .card {
        flex: 1 0 40%;
        margin: 0 5px 10px 0;
        padding: 0;
    }
    .partners {
        margin-bottom: 0;
    }
    .subscription-card_first,
    .subscription-card_second {
        height: auto;
    }
    .additional-info__utility {
        margin-right: 5px;
    }
    .site__policy {
        display: none;
    }
    .site__policy_tablet {
        display: block;
        padding: 20px;
    }
}

@media (max-width : 520px) {
    .wrap {
        min-width: auto;
    }
    .navigation {
        flex-direction: column;
        align-items: flex-start;
    }
    .navigation__logo {
        width: auto;
        padding: 0 5px;
    }
    .navigation__logo a {
        display: flex;
        flex-direction: column;
    }
    .navigation__links {
        display: none;
        flex-direction: column;
        z-index: 4;
        width: 100%;
        position: fixed;
        margin: 0;
        top: 0;
        padding-top: 60px;
        left: 0;
        background-color: #24292E;
        height: auto;
        align-items: center;
    }
    .navigation__links_visible {
        display: flex;
    }
    .navigation__link {
        width: 50%;
        color: white;
        background-color: transparent;
        padding:  10px;
    }
    .navigation__link:hover {
        color: #4233FF;
    }
    .navigation_mobile {
        display: block;
    }
    .menu__icon {
        width: 24px;
        height: 24px;
        padding: 12px;
        background-color: white;
        border-radius: 50%;
        position: fixed;
        z-index: 4;
        top: 5px;
        right: 25px;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }
    .overlay {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 2;
        cursor: pointer;
    }
    .overlay_visible {
        display: block;
    }
    .navigation__link_search {
        background-color: lightgray;
        margin: 40px 0;
        border-radius: 50px;
    }
    .navigation__link_search img {
        color: white;
    }
    .layout_main, .layout_aside {
        float: left;
        width: 100%;
    }
    .layout_main .card_large {
        height: auto;
        margin-bottom: 25px;
    }
    .card__tag {
        font-size: 12px;
    }
    .promo-events {
        padding-bottom: 20px;
    }
    .new-number {
        height: auto;
        padding-bottom: 20px;
    }
    .news__content .card,
    .authors__content .card {
        flex: 1 0 80%;
        padding: 0;
    }
    .authors__content .card {
        min-height: auto;
        margin-bottom: 20px;
    }
    .subscription-wrap {
        flex-direction: column;
    }
    .subscription {
        padding: 20px 0 0;
    }
    .subscription-card {
        width: 70%;
        box-shadow: none;
        margin-bottom: 20px;
    }
    .subscription-card_first,
    .subscription-card_second {
        height: auto;
    }
    .archive__board {
        flex-wrap: wrap;
        padding: 10px 0;
        justify-content: center;
    }
    .archive__item {
        width: 150px;
        height: 230px;
    }
    footer {
        height: auto;
        padding-bottom: 20px;
    }
    footer .wrap {
        flex-direction: column;
    }
    .partners {
        flex-direction: row;
        flex-wrap: wrap;
        width: auto;
        margin: 0;
        justify-content: center;
    }
    .partners__link {
        margin: 0 5px 5px 0;
    }
    .partners__link img {
        width: 150px;
        height: 35px;
    }
    .site-info__description {
        flex-direction: column;
        align-items: flex-start;
    }
    .site-info__description h1 {
        flex: 0 0 auto;
    }
    .site-info__description span {
        display: block;
    }

    .site-info__description p {
        flex: 0 0 auto;
        text-align: left;
    }
}