@import url('https://fonts.googleapis.com/css?family=Exo+2:100,300,400&subset=cyrillic');
@import "variables";

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: url("../img/pattern.png");
  font-family: "Trebuchet MS", sans-serif;
}

.product-board {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  .header {
    color: white;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    font-weight: 100;
    font-size: 36px;
    margin: 0 0 24px;
  }
}
.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .product-offer:last-child {
    margin-bottom: 150px;
  }
  .product-offer {
    position: relative;
    height: 500px;
    max-width: 340px;
    margin: 0 40px 80px;
    &::after {
      position: absolute;
      content: '';
      height: 510px;
      width: 380px;
      top: -5px;
      left: -5px;
      border-radius: 14px;
      background: linear-gradient(135deg, transparent 27px, $color-blue-normal 0);
    }
  }
  .product-card {
    position: relative;
    height: 480px;
    width: 320px;
    border-radius: 12px;
    padding: 20px 0 0 50px;
    background: linear-gradient(135deg, transparent 25px, white 0);
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
    .product-card__text_description {
      font-size: 16px;
      font-weight: normal;
      color: $color-lightgray;
      margin: 0;
    }
    .product-card__text_title {
      font-size: 48px;
      font-weight: bold;
      margin: 0;
    }
    .product-card__text_content {
      font-size: 24px;
      font-weight: bold;
      margin: 0 0 40px;
    }
    .product-card__text_count,
    .product-card__text_prize,
    .product-card__text_details {
      margin: 0;
      color: $color-gray;
    }
    img {
      height: 380px;
      width: 390px;
      position: absolute;
      left: -20px;
      bottom: -100px;
      pointer-events: none;
    }
    .product-card__weight {
      color: white;
      display: inline-block;
      height: 80px;
      width: 80px;
      border-radius: 50%;
      text-align: center;
      position: absolute;
      right: 16px;
      bottom: 16px;
      background-color: $color-blue-normal;
      font-size: 21px;
      font-weight: normal;
      line-height: 2px;
      span {
        font-size: 42px;
        line-height: 60px;
        font-weight: normal;
      }
    }
  }
  .product-offer__text {
    text-align: center;
    margin-top: 16px;
    color: white;
    pointer-events: none;
    span {
      pointer-events: auto;
      // ie-11 fix (position)
      position: relative;
    }
    .product-offer__submit {
      color: $color-blue-normal;
      border-bottom: 1px dashed $color-blue-normal;
      cursor: pointer;
    }
  }
  //hover, disable and select effects
  //disabled
  .product-offer_disabled {
    pointer-events: none;
    cursor: none;
    &::after {
      background: linear-gradient(135deg, transparent 27px, $color-lightgray 0);
    }
    .product-card {
      color: $color-lightgray;
    }
    .product-card__weight {
      background-color: $color-lightgray;
    }
    .product-card::after {
      background: linear-gradient(135deg, transparent 27px, rgba(179, 179, 179, 0.3) 0);
    }
    .product-offer__text {
      color: $color-yellow-disabled
    }
  }
  //unselected hover
  .product-offer_unselected:hover {
    &::after {
      background: linear-gradient(135deg, transparent 27px, $color-blue-hover 0);
    }
    .product-card__weight {
      background-color: $color-blue-hover;
    }
  }
  .product-offer__submit:hover {
    color: $color-blue-hover;
  }
  //selected
  .product-offer_selected {
    &::after {
      background: linear-gradient(135deg, transparent 27px, $color-red-selected 0);
    }
    .product-card__weight {
      background-color: $color-red-selected;
    }
  }
  //selected hover
  .product-offer_selected-ready:hover {
    &::after {
      background: linear-gradient(135deg, transparent 27px, $color-red-selected-hover 0);
    }
    .product-card__text_description {
      color: $color-red-warning;
    }
    .product-card__weight {
      background-color: $color-red-selected-hover;
    }
  }

}
//mobile & tablet media
@media (max-width : 768px) {
  .wrap {
    .product-offer {
      height: 400px;
      margin: 0 30px 70px;
      max-width: 290px;
      &::after {
        height: 410px;
        width: 290px;
      }
    }
    .product-card {
      height: 380px;
      width: 230px;
      img {
        height: 280px;
        width: 290px;
        position: absolute;
        left: -20px;
        bottom: -100px;
        pointer-events: none;
      }
    }
    .product-offer__text {
      font-size: 14px;
    }
  }
}
