$color-blue-normal: #1698D9;
$color-blue-hover: #2EA8E6;
$color-red-selected: #D91667;
$color-red-selected-hover: #E52E7A;
$color-red-warning: #E62E7A;
$color-lightgray: #B3B3B3;
$color-gray: #666666;
$color-yellow-disabled: #FFFF66;
